.header {
    position: fixed;
    display: grid;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    background: white;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 58px;
    outline: 1px solid #dbdbdb;
}

.logo-Image {
    width: 100%;
}

.search-Icon {
    position: absolute;
    padding: 10px;
    color: #a6a6a6;
}

.search-Input {
    padding: 10px 45px;
    border-radius: 6px;
    background: #efefef;
    border: none;
}

.search-Input::placeholder {
    color: #a6a6a6;
    font-size: 1.1em;
}

.header-section-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.header-Icon {
    align-content: center;
    padding: 0 0.4em;
}

.header-Icon:hover {
    cursor: pointer;
}

.user-image {
    width: 25px;
    height:25px;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .search-Input {
        display: none;
    }
    .search-Icon {
        display: none;
    }
}